body{
    padding:0;
    margin:o;
    height:100vh;
    background:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;

}
ul{
    display: flex;
}
li{
    list-style: none;
}
#demo0{
    display: flex;
    justify-content: space-around;
}


#demo1{
    float: left;
    height: 80px;
    width: 120px;
    color:blue;
    animation:animate 1.5s linear infinite;
    text-shadow: 0 0 15px yellow,0 0 25px yellow;
    font-size: 45px;


    /*align-items:center;
    font-size: 46px;
    cursor:pointer;
        font-size: 46px;

    border-radius: 20px;*
    text-shadow: 0 0 15px yellow,0 0 25px yellow;
    animation:animate 1.5s linear infinite;
    text-align: center;*/
    border: 1px;
}



#demo2{
    float: right;
    height: 80px;
    width: 40px;
    color:red;
    animation:animate 1.5s linear infinite;
    text-shadow: 0 0 15px yellow,0 0 25px yellow;
     font-size: 45px;



    /*align-items:right;
    cursor:pointer;
        font-size: 46px;

    border-radius: 20px;
    text-shadow: 0 0 15px yellow,0 0 25px yellow;
    text-align: center;*/
    border: 1px;


}

@keyframes animate{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
} 
